{% block content %}
<div class="grid_12">
    <ul class="nav main">
        <li class="ic-dashboard"><a href="index.html"><span>Dashboard</span></a> </li>
        <li class="ic-form-style"><a href=""><span>User Profile</span></a></li>
        <li class="ic-typography"><a href="changepassword.html"><span>Change Password</span></a></li>
        <li class="ic-grid-tables"><a href="inbox.html"><span>Inbox</span></a></li>
        <li class="ic-charts"><a href="postlist.html"><span>Visit Website</span></a></li>
    </ul>
</div>
 <div class="clear">
        </div>
{% endblock %}